<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CPFMS</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css"
        rel="stylesheet" />

    <link rel="stylesheet" href="/css/master-index.css">
    <link rel="stylesheet" href="/css/master/account_balance.css">
    <script src="/js/masters/account_balance/addform.js"></script>
    <style>
        table tr td {
            margin: 0 !important;
            padding: 3px 5px 5px 0 !important;
        }
    </style>

</head>

<body>
    <%- include('../../partials/navbar.ejs') %>

    <main>
        <div class="container" style="background-color: #DBFFFB; width: 98%">
            <%- include('../../partials/err.ejs') %>
            <h2 class="heading-text">Member Registration</h2>
            <form class="form-horizontal" id="mainForm" action="/accountbalance" method="POST">
                <div class="row">
                    <div class="col-md-6 ele">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="label-text">Society</td>
                                        <td><b>:</b></td>
                                        <td colspan="2" id="table_account_id">
                                            <select class="form-control selectpicker" data-live-search="true"
                                                data-size="5" name="account_id" required>
                                                <option selected disabled>--SELECT--</option>
                                                <% for(item of account_head){ %>
                                                <option><%= item.account_id %></option>
                                                <% } %>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vtop label-text">Member List</td>
                                        <td class="vtop"><b>:</b></td>
                                        <td colspan="4" id="table_sub_account_list">
                                            <textarea name="sub_account_list" cols="30" rows="4" disabled></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text" style="width: 15% !important;">Last Member ID</td>
                                        <td><b>:</b></td>
                                        <td id="table_sub_account_last_id">
                                            <input type="text" name="sub_account_last_id" style="width: 100%;" class="input-disabled" disabled>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Name</td>
                                        <td><b>:</b></td>
                                        <td colspan="2" id="table_account_name">
                                            <input type="text" name="account_name" disabled class="input-disabled" style="width: 100%;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Village</td>
                                        <td><b>:</b></td>
                                        <td colspan="2" id="table_village_name">
                                            <input type="text" name="village_name" disabled class="input-disabled" style="width: 100%;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Taluka</td>
                                        <td><b>:</b></td>
                                        <td colspan="2" id="table_taluka_name">
                                            <input type="text" name="taluka_name" disabled class="input-disabled" style="width: 100%;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">District</td>
                                        <td><b>:</b></td>
                                        <td colspan="2" id="table_district_name">
                                            <input type="text" name="district_name" disabled class="input-disabled" style="width: 100%;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Issue Date</td>
                                        <td><b>:</b></td>
                                        <td colspan="2" id="table_issue_date">
                                            <input type="date" name="issue_date">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Cow Cast</td>
                                        <td><b>:</b></td>
                                        <td id="table_cow_cast_id">
                                            <select class="form-control selectpicker" data-live-search="true"
                                                data-size="5" name="cow_cast_id" required>
                                                <option selected disabled>--SELECT--</option>
                                                <% for(item of cc){ %>
                                                <option data-tokens="<%= item.cow_cast_id %>;<%= item.cow_cast_name %>"
                                                    data-size="5"><%= item.cow_cast_id %></option>
                                                <% } %>
                                            </select>
                                        </td>
                                        <td id="table_cow_cast_name">
                                            <input type="text" name="cow_cast_name" disabled class="input-disabled">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 ele">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="label-text">Member ID</td>
                                        <td><b>:</b></td>
                                        <td id="table_sub_account_id">
                                            <input type="text" name="sub_account_id" style="width: 100%;" required>
                                        </td>
                                        <td class="label-text" style="width: 15% !important;">Group ID</td>
                                        <td><b>:</b></td>
                                        <td id="table_group_id">
                                            <input type="text" name="group_id" style="width: 100%;" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Member Name</td>
                                        <td><b>:</b></td>
                                        <td colspan="4" id="table_sub_account_name">
                                            <input type="text" name="sub_account_name" placeholder="Enter Member Name" style="width: 100%;" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Member Name Gujarati</td>
                                        <td><b>:</b></td>
                                        <td colspan="4" id="table_sub_account_name_guj">
                                            <input type="text" name="sub_account_name_guj" placeholder="Enter Member Name Gujarati" style="width: 100%;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vtop label-text">Address</td>
                                        <td class="vtop"><b>:</b></td>
                                        <td colspan="4" id="table_sub_account_address">
                                            <textarea name="sub_account_address" cols="30" rows="4">
                                            </textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vtop label-text">Remark</td>
                                        <td class="vtop"><b>:</b></td>
                                        <td colspan="4" id="table_sub_account_remark">
                                            <textarea name="sub_account_remark" cols="30" rows="4">
                                            </textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Organization</td>
                                        <td><b>:</b></td>
                                        <td id="table_organization_id">
                                            <select class="form-control selectpicker" data-live-search="true"
                                                data-size="5" name="organization_id">
                                                <% for(item of organization){ %>
                                                <option
                                                    data-tokens="<%= item.organization_id %>;<%= item.organization_name %>">
                                                    <%= item.organization_id %>
                                                </option>
                                                <% } %>
                                            </select>
                                        </td>
                                        <td colspan="3" id="table_organization_name">
                                            <input type="text" name="organization_name" disabled style="width: 100% !important;" class="input-disabled">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Resource Person</td>
                                        <td><b>:</b></td>
                                        <td id="table_resource_person_id">
                                            <select class="form-control selectpicker" data-live-search="true"
                                                data-size="5" name="resource_person_id">
                                                <option selected disabled>--SELECT--</option>
                                                <% for(item of rp){ %>
                                                <option
                                                    data-tokens="<%= item.resource_person_id %>;<%= item.resource_person_name %>">
                                                    <%= item.resource_person_id %></option>
                                                <% } %>
                                            </select>
                                        </td>
                                        <td colspan="3" id="table_resource_person_name">
                                            <input type="text" name="resource_person_name" disabled style="width: 100% !important;" class="input-disabled">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 ele">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="label-text">Op. Balance</td>
                                        <td><b>:</b></td>
                                        <td id="table_op_balance">
                                            <input type="number" name="op_balance" step="0.01" required
                                                style="width: 150px; text-align: right;" value="0.00">
                                        </td>
                                        <td class="label-text" style="width: 15% !important;">Cr/Dr</td>
                                        <td><b>:</b></td>
                                        <td id="table_op_crdr">
                                            <select class="form-control selectpicker" data-live-search="true"
                                                name="op_crdr" required>
                                                <option>CR</option>
                                                <option selected>DR</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"><br></td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Cr. Amount</td>
                                        <td><b>:</b></td>
                                        <td colspan="4" id="table_cr_amount">
                                            <input type="number" value="0.00" name="cr_amount" class="input-disabled"
                                                style="width: 150px; text-align: right;" readonly>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"><br></td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Dr. Amount</td>
                                        <td><b>:</b></td>
                                        <td colspan="4" id="table_dr_amount">
                                            <input type="number" value="0.00" name="dr_amount" class="input-disabled"
                                                style="width: 150px; text-align: right;" readonly>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"><br></td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Cl. Balance</td>
                                        <td><b>:</b></td>
                                        <td id="table_cl_balance">
                                            <input type="number" value="0.00" name="cl_balance" class="input-disabled"
                                                style="width: 150px; text-align: right;" readonly>
                                        </td>
                                        <td id="table_cl_crdr">
                                            <select class="form-control selectpicker" data-live-search="true"
                                                name="cl_crdr" required>
                                                <option>CR</option>
                                                <option selected>DR</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 ele">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="label-text" style="width: 150px !important;">Birth Date</td>
                                        <td><b>:</b></td>
                                        <td id="table_birth_date">
                                            <input type="date" name="birth_date" style="width: 160px;">
                                        </td>
                                        <td class="label-text">Birth Weight</td>
                                        <td><b>:</b></td>
                                        <td id="table_birth_wt">
                                            <input type="number" step="0.00" name="birth_wt" style="width: 100px;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Member Join Date</td>
                                        <td><b>:</b></td>
                                        <td id="table_join_date">
                                            <input type="date" name="join_date" style="width: 160px;">
                                        </td>
                                        <td class="label-text">Join Weight</td>
                                        <td><b>:</b></td>
                                        <td id="table_join_wt">
                                            <input type="number" step="0.00" name="join_wt" style="width: 100px;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Heifer Date</td>
                                        <td><b>:</b></td>
                                        <td colspan="4" id="table_heifer_date">
                                            <input type="date" name="heifer_date" style="width: 160px;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Calwing Date</td>
                                        <td><b>:</b></td>
                                        <td id="table_calwing_date">
                                            <input type="date" name="calwing_date" style="width: 160px;">
                                        </td>
                                        <td class="label-text">Litre</td>
                                        <td><b>:</b></td>
                                        <td id="table_calwing_ltr">
                                            <input type="number" step="0.00" name="calwing_ltr" style="width: 100px;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Cancel Date</td>
                                        <td><b>:</b></td>
                                        <td colspan="4" id="table_cancel_date">
                                            <input type="date" name="cancel_date" style="width: 160px;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Death Date</td>
                                        <td><b>:</b></td>
                                        <td colspan="4" id="table_death_date">
                                            <input type="date" name="death_date" style="width: 160px;">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 ele">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td style="
                                                width: 15%;
                                                font-style: italic;
                                                font-weight: bold;    
                                                padding: 0px !important;">Insurance Date</td>
                                        <td><b>:</b></td>
                                        <td id="table_insurance_date">
                                            <input type="date" name="insurance_date" style="width: 160px;">
                                        </td>
                                        <td class="label-text-down">Next Due On</td>
                                        <td><b>:</b></td>
                                        <td id="table_insurance_due_on_date">
                                            <input type="date" name="insurance_due_on_date" style="width: 160px;">
                                        </td>
                                        <td class="label-text-down">Tag Number</td>
                                        <td><b>:</b></td>
                                        <td id="table_insurance_tag_no">
                                            <input type="text" name="insurance_tag_no" style="width: 140px;">
                                        </td>
                                        <td class="label-text-down">Ammount</td>
                                        <td><b>:</b></td>
                                        <td id="table_insurance_amount">
                                            <input type="number" step="0.01" name="insurance_amount" style="width: 140px;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text-down vtop">Remark</td>
                                        <td class="vtop"><b>:</b></td>
                                        <td colspan="10" id="table_insurance_remark" class="multi-lines">
                                            <textarea name="insurance_remark" cols="30" rows="4"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h3 class="heading-text">Kotha Entries</h3>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th style="width: auto !important;text-align: center; border: 2px solid black;">Month ID</th>
                                    <th style="width: auto !important;text-align: center; border: 2px solid black;">Item 1</th>
                                    <th style="width: auto !important;text-align: center; border: 2px solid black;">Item 2</th>
                                    <th style="width: auto !important;text-align: center; border: 2px solid black;">Item 3</th>
                                    <th style="width: auto !important;text-align: center; border: 2px solid black;">Item 4</th>
                                    <th style="border: 2px solid black;">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="entries">
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <a href="#" onclick="addentry()" class="btn btn-success" data-toggle="modal"><b>Add New Entry</b></a>
                    </div>
                </div>
                <div style="margin: 10px; padding: 0px 15px 0px 0px;height: 50px; text-align: right;">   
                    <button class="btn btn-lg btn-success" type="submit">Submit</button>
                    <a href="/accountbalance"><button class="btn btn-lg btn-danger" type="button">Cancel</button></a>
                </div>
            </form>
        </div>
    </main>
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <form id="item_edit">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title"><b><u>Edit Item Entry</u></b></h3>
                        <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label><i>Month ID</i></label>
                            <input type="number" class="form-control" name="month_id"
                                placeholder="Enter Month ID" id="input-disabled" min="1" step="1" required
                                readonly>
                        </div>
                        <div class="form-group">
                            <label><i>Item 1</i></label>
                            <input type="text" class="form-control" name="item1" placeholder="Item 1" required>
                        </div>
                        <div class="form-group">
                            <label><i>Item 2</i></label>
                            <input type="text" class="form-control" name="item2" placeholder="Item 2" required>
                        </div>
                        <div class="form-group">
                            <label><i>Item 3</i></label>
                            <input type="text" class="form-control" name="item3" placeholder="Item 3" required>
                        </div>
                        <div class="form-group">
                            <label><i>Item 4</i></label>
                            <input type="text" class="form-control" name="item4" placeholder="Item 4" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
    <!-- Add Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <form id="item_add">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title"><b><u>Add Item Entry</u></b></h3>
                        <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label><i>Month ID</i></label>
                            <input type="number" class="form-control" name="month_id"
                                placeholder="Enter Month ID" id="input-disabled" min="1" step="1" required
                                readonly>
                        </div>
                        <div class="form-group">
                            <label><i>Item 1</i></label>
                            <input type="text" class="form-control" name="item1" placeholder="Item 1" required>
                        </div>
                        <div class="form-group">
                            <label><i>Item 2</i></label>
                            <input type="text" class="form-control" name="item2" placeholder="Item 2" required>
                        </div>
                        <div class="form-group">
                            <label><i>Item 3</i></label>
                            <input type="text" class="form-control" name="item3" placeholder="Item 3" required>
                        </div>
                        <div class="form-group">
                            <label><i>Item 4</i></label>
                            <input type="text" class="form-control" name="item4" placeholder="Item 4" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="item_delete">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Item Entry</h4>
                        <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure ...?<br>Do want to delete this Record ?</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                    </div>
                    <div class="modal-footer">
                        <div id="hidden-input"></div>
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"
                            id="cancel">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>

        var entries = <%- JSON.stringify(data) %>;
        //var entries = [];
        var delete_index = -1;

        function fillallentries() {
            if (entries.length === 0) {
                $("#entries").empty();
            }
            else {
                $("#entries").empty();
                for (i = 0; i < entries.length; i++) {
                    entryob = entries[i];
                    var inhtml = `
                        <tr id="${i}" align="center">
                            <td style="border: 2px solid black;">
                                ${i+1}
                            </td>
                            <td style="border: 2px solid black;">
                                ${entryob.item1}
                            </td>
                            <td style="border: 2px solid black;">
                                ${entryob.item2}
                            </td>
                            <td style="border: 2px solid black;">
                                ${entryob.item3}
                            </td>
                            <td style="border: 2px solid black;">
                                ${entryob.item4}
                            </td>
                            <td style="border: 2px solid black;">
                                <a href="#" onclick="editentry(${i})" class="edit" data-toggle="modal"
                                    id="${i}"><i class="material-icons" data-toggle="tooltip"
                                        title="Edit">&#xE254;</i></a>
                                <a href="#" onclick="deleteentry(${i})" class="delete" data-toggle="modal"
                                    id="${i}"><i class="material-icons" data-toggle="tooltip"
                                        title="Delete">&#xE872;</i></a>
                            </td>
                            <input type="hidden" name="item1s[${i}]" value="${entryob.item1}">
                            <input type="hidden" name="item2s[${i}]" value="${entryob.item2}">
                            <input type="hidden" name="item3s[${i}]" value="${entryob.item3}">
                            <input type="hidden" name="item4s[${i}]" value="${entryob.item4}">
                        </tr>
                    `;
                    $("#entries").append(inhtml);
                }
            }
        }

        function editentry(index) {
            setTimeout(function () {
                $("#editEmployeeModal input[name=item1]").focus();
            }, 500);
            var entryob = entries[index];
            var item1 = entryob.item1;
            var item2 = entryob.item2;
            var item3 = entryob.item3;
            var item4 = entryob.item4;
            $("#editEmployeeModal input[name=month_id]").val(index+1);
            $("#editEmployeeModal input[name=item1]").val(item1);
            $("#editEmployeeModal input[name=item2]").val(item2);
            $("#editEmployeeModal input[name=item3]").val(item3);
            $("#editEmployeeModal input[name=item4]").val(item4);
            $("#editEmployeeModal").modal('show');
        }

        function submit_editentry() {
            var index = parseInt($("#editEmployeeModal input[name=month_id]").val()) - 1;
            var item1 = $("#editEmployeeModal input[name=item1]").val();
            var item2 = $("#editEmployeeModal input[name=item2]").val();
            var item3 = $("#editEmployeeModal input[name=item3]").val();
            var item4 = $("#editEmployeeModal input[name=item4]").val();
            var entryob = {
                item1,
                item2,
                item3,
                item4
            };
            entries[index] = entryob;
            fillallentries();
            $("#editEmployeeModal").modal('hide');
        }

        function deleteentry(index) {
            setTimeout(function () {
                $("#deleteEmployeeModal .modal-footer #cancel").focus();
            }, 500);
            delete_index = index;
            $("#deleteEmployeeModal").modal('show');
        }

        function submit_deleteentry() {
            if (delete_index >= 0) {
                entries.splice(delete_index, 1);
                delete_index = -1;
                fillallentries();
            }
            $("#deleteEmployeeModal").modal('hide');
        }

        function addentry() {
            setTimeout(function () {
                $("#addEmployeeModal input[name=item1]").focus();
            }, 500);
            var month_id = entries.length + 1;
            $("#addEmployeeModal input[name=month_id]").val(month_id);
            $("#addEmployeeModal input[name=item1]").val("-");
            $("#addEmployeeModal input[name=item2]").val("-");
            $("#addEmployeeModal input[name=item3]").val("-");
            $("#addEmployeeModal input[name=item4]").val("-");
            $("#addEmployeeModal").modal('show');
        }

        function submit_addentry() {
            var item1 = $("#addEmployeeModal input[name=item1]").val();
            var item2 = $("#addEmployeeModal input[name=item2]").val();
            var item3 = $("#addEmployeeModal input[name=item3]").val();
            var item4 = $("#addEmployeeModal input[name=item4]").val();
            var entryob = {
                item1,
                item2,
                item3,
                item4
            };
            entries.push(entryob);
            fillallentries();
            $("#addEmployeeModal").modal('hide');
        }

        $(document).ready(function () {
        
            $('.loading').hide();

            fillallentries();

            // Save Edit Entry
            $('#item_edit').submit(function(e){
                e.preventDefault();
                submit_editentry();
            });

            // Submit Delete Request
            $("#item_delete").submit(function(e){
                e.preventDefault();
                submit_deleteentry();
            });

            // Submit Add Request
            $("#item_add").submit(function(e){
                e.preventDefault();
                console.log("Submitting new entry.");
                submit_addentry();
            });

        });

    </script>

</body>

</html>